@font-face {
  font-family: century;
  src: url(century.ttf);
}


html{
    font-family: century, sans-serif;
    background-color: #1a1a1a;
}

body{
    padding:10%;
    display:grid;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% ;
    grid-template-rows: 300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px  300px ;
}

#title{
    color:white;
    position: absolute;
    font-size:75px;
    left:18%;
    top:0;
}

#image1{
    margin: 75px 10px 10px 10px;
    grid-column-start:1;
    grid-column-end:7;
    grid-row-start:1;
    grid-row-end:12;
}

#image2{
    margin: 10px 10px 10px 10px;
    grid-column-start:7;
    grid-column-end:13;
    grid-row-start:1;
    grid-row-end:6;
}

#image3{
    margin: 125px 10px 10px -5px;
    grid-column-start:7;
    grid-column-end:12;
    grid-row-start:2;
    grid-row-end:11;
}

#image4{
    margin: 160px 10px 10px 10px;
    grid-column-start:7;
    grid-column-end:9;
    grid-row-start:3;
    grid-row-end:11;
}

#image5{
    margin: 160px 10px 10px 10px;
    grid-column-start:9;
    grid-column-end:13;
    grid-row-start:3;
    grid-row-end:11;
}

#image6{
    margin: 125px 5px 10px 10px;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:11;
}

#image7{
    margin: -50px 5px 10px 10px;
    grid-column-start:3;
    grid-column-end:7;
    grid-row-start:4;
    grid-row-end:11;
}

#image8{
    margin: 125px 10px 10px 10px;
    grid-column-start:7;
    grid-column-end:13;
    grid-row-start:4;
    grid-row-end:11;
}

#image9{
    margin: -50px 10px 10px 10px;
    grid-column-start:2;
    grid-column-end:7;
    grid-row-start:5;
    grid-row-end:11;
}

#image10{
    margin: 80px 10px 10px 10px;
    grid-column-start:7;
    grid-column-end:10;
    grid-row-start:5;
    grid-row-end:11;
}

img{
    width:100%;
    height: auto;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding-bottom: 100px;
    max-width: 1200px;
}

.modal img{
    width:80%;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    padding-bottom: 100px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#flipbook{
    position:absolute;
    top:25px;
    left:17.5%;
    height:90%;
}

#flipbook .page{
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

.page img{
    width:100%;
    height:100%;
}
#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;

}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

.popup{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left:0;
    visibility: hidden;
    z-index:1;
    width:100%;
    height:100%;
}

.show {
    visibility: visible;
}

.close{
    position: fixed;
    font-size:25px;
    color:white;
    top:30px;
    right:30px;
    cursor:pointer;
}